.tech-content {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    .main-container {

        .main-content {
            padding: 0;
            .pictures-container {
                margin-bottom: 4.12rem;
                .tech-hero {
                    width: 100%;
                    height: 45vw;
                }
            }

            .navigation-menu.navigation-menu--tech {
                margin-bottom: 3rem;
                ul {
                    flex-direction: row;
                    column-gap: 2rem;
                    justify-content: center;

                    li {
                        a {
                            padding: 0;
                            justify-content: center;
                            align-items: center;
                            color: var(--color-white);
                            border: 1px solid rgba(255, 255, 255, 0.25);
                            border-radius: 50%;
                            width: 5rem;
                            height: 5rem;
                        }

                        a:hover {
                            border-color: var(--color-white);
                        }

                        a.selected-tab {
                            background-color: var(--color-white);
                            border: 1px solid var(--color-white);
                            color: var(--color-black);
                        }

                        a::after {
                            display: none;
                        }
                    }
                }
            }

            .tech-description {
                display: grid;
                justify-items: center;
                .navigation-text {
                    letter-spacing: 2.36px;
                    color: var(--light-grey);
                    margin-bottom: 1.62rem;
                }

                .heading-3 {
                    margin-bottom: 3rem;
                }
            }

            .navigation-menu.navigation-menu--tech, .main-title, .techs-container {
                padding: 0 var(--padding-main-elements);
            }
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
        .main-container {

            .navigation-menu.navigation-menu--header {
                a.tech-link::after {
                    background-color: var(--color-white) !important;
                    display: block;
                }
            }

            .main-content {
                .pictures-container {
                    margin-bottom: 6.7rem;
                    .tech-hero {
                        height: 40vw;
                    }
                }

                .navigation-menu.navigation-menu--tech {
                    margin-bottom: 5rem;
                    ul {
                        li {
                            a {
                                width: 7.5rem;
                                height: 7.5rem;
                            }
                        }
                    }
                }

                .tech-description  {
                    .navigation-text{
                        letter-spacing: 2.7px;
                        margin-bottom: 2rem;
                    }

                    .default-paragraph {
                        width: 67%;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $minWidthSmallDesktop) {
        background-image: url("../assets/technology/background-technology-desktop.jpg");
        .main-container {
            .main-content {
                display: grid;
                grid-template-columns: min-content auto auto;
                grid-template-rows: auto auto;
                grid-template-areas: "title       title      title"
                    "techNav     techText   techImg";
                column-gap: 3rem;
                padding-left: var(--padding-main-elements);

                .main-title {
                    grid-area: title;
                    margin-bottom: 2.4rem;
                    padding: 0;
                }

                .pictures-container {
                    grid-area: techImg;
                    align-self: center;
                    margin: 0;
                    picture {
                        display: flex;
                        justify-content: end;
                        .tech-hero {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .navigation-menu.navigation-menu--tech {
                    grid-area: techNav;
                    margin-bottom: 0;
                    padding: 0;
                    align-self: center;
                    ul {
                        flex-direction: column;
                        column-gap: 0;
                        row-gap: 3rem;

                        li a {
                            width: 5rem;
                            height: 5rem;
                        }
                    }
                }

                .techs-container {
                    grid-area: techText;
                    align-self: center;
                    padding: 0;
                    text-align: left;

                    .tech-description {
                        justify-items: start;
                        .navigation-text {
                            margin-bottom: 1.6rem;
                        }

                        .heading-3 {
                            margin-bottom: 2rem;
                        }

                        .default-paragraph {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        .main-container {
            .main-content {
                align-content: start;
                column-gap: 7rem;
                padding-left: var(--left-offset);

                .pictures-container {
                    picture {
                        .tech-hero {
                            width: 51.5rem;
                            height: 52.7rem;
                        }
                    }
                }

                .navigation-menu.navigation-menu--tech {
                    ul {
                        li a {
                            width: 8rem;
                            height: 8rem;
                        }
                    }
                }

                .techs-container {
                    .tech-description {
                        .default-paragraph {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}
